**/vcf2maf*.pl linguist-vendored=true, linguist-detectable=false
*.Rmd     linguist-detectable=true
*.nb.html linguist-generated=true
*.nb.html linguist-detectable=false
*.sql     linguist-detectable=true
